---
layout: default
---

<div class="home">

  <h1 class="page-heading">I'm Milena, a Product Designer with IBM Design in Austin, Texas. I'm focused on dynamic, user-friendly designs.</h1>

  <button class="btn-main">Let's Chat</button>

<section class="hackeryou">
  <!-- <h2>Front-End Bootcamp [Apr 2014-Jun 2014]</h2> -->
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
         <!-- {% if post.featuredImg %}
            <div class="img__div">
              <img src="{{post.featuredImg}}" class="img__div--img" />
            </div>
            {% endif %} -->
        </h3>
      </li>
    {% endfor %}
  </ul>
  </section>


</div>
