---
layout: default
---

<div class="home">
<section class="hero">
  <h1 class="page-heading">I'm Milena, a Product Designer with IBM Design in Austin, Texas. I'm focused on dynamic, user-friendly designs. </h1>

  <button class="btn-main"><a href="mailto:hello@milena.io">Let's Chat</a></button>
</section>

  <h2 class="code-heading"> Code</h2>

  <div class="grid">
    {% for post in site.posts %}
    <div class="grid-sizer"></div>
      <div class="grid-item">
          <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
         <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.featuredImg %}
            <div class="img__div">
              <img src="{{post.featuredImg}}" class="img__div--img" />
            </div>
            {% endif %}</a>
      </div>
    {% endfor %}
  </div>

<h2 class="code-heading"> Visual</h2>
<p>coming soon.</p>
</div>
